{% extends 'admin/base_admin.html.twig' %}

{% block title %}Base_admin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('customer') }}
{% endblock %}

{% block body %}
    <div class="customer">
        <div class="container_fluid px-3">
            <header class="row clearfix customer__header">
                {% block customer_header %}{% endblock %}
            </header>
            {% block customer_content %}{% endblock %}
        </div>
    </div>
{% endblock %}